/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del header */
header {
    background: linear-gradient(180deg, rgb(131, 131, 247),  #F3F5FC); 
    color: #fff;
    padding: 15px;
    text-align: center;
    width:  100%;
}

header li{
    font-family: Inter;
    font-size: 15px;
    color:#0A3871;
    display: inline-block;
    text-align: center; 
    vertical-align:  middle;  
    width:30%;
      
}
.logo{
    width: 150px;
    height: inherit;
}


/* Estilos del main */
main {
    padding: 20px;
    background-color: #F3F5FC;
    min-height: calc(100vh - 160px); /* Calcula la altura mínima para el main (100% de la altura de la ventana - altura del header y footer) */
}


#aviso{
    font-weight: bold;
    padding: 5px;
    font-size: 19px;
    color: green;
    text-align: center;
}   
#alerta{
    font-weight: bold;
    padding: 5px;
    font-size: 19px;
    color: rgb(248, 5, 5);
    text-align: center;
} 


/* Contenedor de las columnas */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    
   
}

/* Estilos de las columnas */
.column {
    width: 100%; /* Ancho de las columnas */
 
   
}

.area-mensaje{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

textarea{
    /* font-family: Inter; */
      font-family: "Roboto Mono","Courier New",monospace;
      font-size: 25px;
      font-weight: 200;      
      letter-spacing: 0em;
      text-align: left;
      resize: none;
      border: none;
      outline:none;    
      border-radius: 5px;  
      height: 280px;  
      line-height: unset;
      width: 90%;  
      color:#000000;
      padding: 15px;
   }

.texAreaMensaje{    
    background: #F3F5FC; 
             
}


.botonera{
    text-align: center;    
 }

.botones{
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background: rgb(181, 205, 241);
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
    width: 20vh;
    margin: 5px;
   
}
#botonCopiar{
    visibility: visible;
  
 
}

.botones:hover{
    background: rgb(3, 60, 114);
    transform: scale(1.1);
}

.area-resultado {
  
    position: relative;
    background-color: white;
    border-radius: 15px;   
    z-index: 1;    
    margin-left: 20px;
    box-shadow: -7px 9px 15px rgba(158,158,158,.35) !important;   
  
}

/* Estilos de los divs superpuestos */
.overlay {
    padding: 10px;
    margin-bottom: 20px; 
   
}

.texAreaResultado{ 
    opacity: 0.6;
    font-size: 22px; 
    resize: none;
    transition: border-color 0.3s ease; /* Animación para el borde */
}
 #mensaje-resultado{
    display: none;
    text-align: center;
 }
#mensaje-error img{
      width: 200px;
      height: 200px;
  }
  
#mensaje-error  h1{
         font-size: 22px;
         font-weight: bold;
         padding: 10px;
    }

#mensaje-error{
    display: block; 
    text-align: center; 
 }



/* Estilos del footer */
footer {
    background: linear-gradient(180deg,   #F3F5FC, rgb(55, 55, 238));
    color: #15027c;
    padding: 10px;
    text-align: center;
    width:  100%;
    margin-bottom: 0;
    
}

footer li{
    display: inline-block;
}
footer img {
    vertical-align: middle;
    width: 25px;
    height: auto;
    margin: auto;
    padding: 5px;
}
footer img:hover{
  
    transform: scale(1.81);
}

/* Animación de entrada */
@keyframes entradaDigital {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Aplicar animación al textarea */
  #textareaResultado.animacion-entrada {
    animation: entradaDigital 0.5s ease forwards;
  }

/* Media queries */
@media (min-width: 768px) {
    /* Para tablet y desktop */
    .column {
        width: 48%; /* Ancho de las columnas en pantalla grande */
    }

}

@media only screen and (max-width:  768px){
    /* Si es mobile */
    header{
        text-align: center;
    }
    header li{
        font-family: Inter;
        font-size: 12px;
        color:#0A3871;
        display: block;
        text-align: center;      
        width:30%;
          
    }
    .column {
        width: 98%; /* Ancho total para que ocupe todo el ancho de la pantalla */
    
    }
    .botones{
        padding: 8px 0;
        font-size: 10px;
       
       
       
     
        width: 15vh;
        margin: 3px;
       
    }
}
